/**
 * Modular scale for type.
 */

:root {
  /** Modular scale **/
  /* http://www.modularscale.com/?20&px&1.125&web&text */  /* Major second */

  /** Line heights **/

  /* Font: Halifax Regular */

  /* Font: Halifax Bold */

  /* Font: Halifax Light */

  /* Font: Ff Milo Serif Pro Med Italic */

  /* Font: Ff Milo Serif Pro */

  /** Letter spacing **/
  /* Font: Halifax Regular */

  /* Font: Halifax Bold */

  /* Font: Halifax Light */

  /* Font: Ff Milo Serif Pro Med Italic */

  /* Font: Ff Milo Serif Pro */
}

html {
  line-height: 1.35;
  font-size: 18px;
}

@media screen and (min-width: 500px) {
  html {
    font-size: 20px;
  }
}

/**
 * Colors
 */

@font-face {
  font-family: "EconSans";
  font-weight: 300;
  src: url('/assets/ecosans-lig.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/ecosans-lig.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: "EconSans";
  font-style: normal;
  src: url('/assets/ecosans-reg.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/ecosans-reg.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: "EconSans";
  font-weight: 700;
  src: url('/assets/ecosans-bol.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/ecosans-bol.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: "EconSans";
  font-style: italic;
  src: url('/assets/ecosans-ita.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/ecosans-ita.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: "MiloSerifPro";
  font-style: normal;
  src: url('/assets/ecoserif-reg.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/ecoserif-reg.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: "MiloSerifPro";
  font-style: italic;
  src: url('/assets/ecoserif-ita.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/ecoserif-ita.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: "MiloSerifPro";
  font-weight: 500;
  src: url('/assets/ecoserif-med.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/ecoserif-med.woff') format('woff'); /* Pretty Modern Browsers */
}

/**
 * Modular scale for type.
 */

:root {
  /** Modular scale **/
  /* http://www.modularscale.com/?20&px&1.125&web&text */  /* Major second */

  /** Line heights **/

  /* Font: Halifax Regular */

  /* Font: Halifax Bold */

  /* Font: Halifax Light */

  /* Font: Ff Milo Serif Pro Med Italic */

  /* Font: Ff Milo Serif Pro */

  /* Font: FF Milo Serif OT Medium */

  /** Letter spacing **/
  /* Font: Halifax Regular */

  /* Font: Halifax Bold */

  /* Font: Halifax Light */

  /* Font: Ff Milo Serif Pro Med Italic */

  /* Font: Ff Milo Serif Pro */

  /* Font: FF Milo Serif OT Medium */
}

html {
  line-height: 1.35;
  font-size: 18px;
}

@media screen and (min-width: 500px) {
  html {
    font-size: 20px;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link-button--styled {
  display: inline-block;
  font-family: 'EconSans', Tahoma, sans-serif;
  font-size: 0.88889em;
  line-height: 1.4;
  text-decoration: none;
  padding: 0.714em 36px;
  padding: 0.714em 2rem;
  background-color: #3E51B5;
  color: #FFFFFF;
  border-radius: .3em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.link-button--disabled {
  background-color: #B6B6B6;
  cursor: default;
}

.link-button--shadow {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.link-button__group svg {
  vertical-align: bottom;
}

.link-button__icon {
  vertical-align: middle;
}

/**
 * Css grid variables
 */

.balloon {
  display: inline;
  position: relative;
  font-size: 18px;
  font-size: 1rem;
}

.balloon-content {
  box-sizing: border-box;
  position: absolute;
  padding: 2em 18px;
  padding: 2em 1rem;
  background: #F2F2F2;
  z-index: 1;
}

.balloon--position-bottom .balloon-content {
  top: 100%;
}

.balloon--position-top .balloon-content {
  bottom: 100%;
}

.balloon--shadow {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
}

.balloon--not-visible .balloon__link:after {
  display: none;
}

.balloon--visible .balloon__link:after {
  display: block;
}

.balloon--not-visible .balloon-content {
  visibility: hidden;
}

.balloon--visible .balloon-content {
  visibility: visible;
}

.balloon--position-bottom .balloon__triangle {
  bottom: 0;
}

.balloon--position-top .balloon__triangle {
  top: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.balloon__triangle {
  display: block;
  position: absolute;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -6px;
  border-color: transparent transparent  #F2F2F2 transparent;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  z-index: 2;
}

.balloon-example {
  display: table-cell;
  box-sizing: border-box;
  width: 20%;
  height: 70px;
  padding: 20px;
  color: #fff;
  background-color: #383E42;
}

.balloon-link {
  padding: 10px;
  color: #fff;
  white-space: nowrap;
  border: solid #fff 1px;
}

.balloon-content {
  width: 300px;
  color: #000;
}

.component-panel {
  overflow: hidden;
}

@media (max-width: 800px) {
  .no-mobile {
    display: none;
  }
  .balloon-example {
    display: inline-block;
    width: 100%;
  }
}

.right {
  text-align: right;
}

.custom-classname--not-visible .content {
  display: none;
}
